<h1>Teams</h1>

<hr id="index-hr">

<% @teams.each do |t| %>
  <li class="add-team"> <%= link_to t.name, t %> </li>
<% end %>
<%= link_to "Add a new Team", new_team_path, :class => "btn btn-info button-top-margin" %>
